<ion-header>
  <ion-toolbar color="warning">

    <ion-buttons slot="start">
      <ion-buttons (click)="volver()">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>

    <ion-title class="bold">Pagina no encontrada (Error 404)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-img src="../assets/image/roblo.png" alt="404"></ion-img>
  <h1 class="bold"> 3 de noviembre carrete en trapen jalowin </h1>

</ion-content>