@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,700&display=swap');

* {
    font-family: 'Lato', sans-serif;  
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    max-width: 375px; 
    min-width: 230px;

    margin: 0 auto; 
    width: 100%; 
  }
  
  ion-img {
    width: auto; 
    max-width: 100%; 
    min-width: 230px;
    height: auto;
    padding-bottom: 50px;
    padding-top: 80px;

  }
  

  ion-list {
    width: 80%; 
    padding-bottom: 70px;

  }
  
