<ion-header>
  <ion-toolbar color="warning">

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div class="login">
    <div class="ion-text-center">
      <ion-img src="../assets/image/registrapplogo.png" alt="Logo de la aplicación"></ion-img>
    </div>
    <br>


    <ion-list lines="full" class="ion-no-margin">
      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input clearInput input-mode="text" [(ngModel)]="nombreUsuario" minlength="3" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input clearInput input-mode="tel" [(ngModel)]="contrasena" minlength="4" type="password"
          required></ion-input>
      </ion-item>


    </ion-list>

    <ion-button expand="full" shape="round" fill="solid" color="warning" (click)="ingreso(nombreUsuario,contrasena)">
      Iniciar Sesión
    </ion-button>

    <div class="ion-text-center ion-padding-top">
      <ion-button fill="clear" expand="block" color="dark" (click)="irRecuperarContra()">
        ¿Olvidaste tu contraseña?
      </ion-button>
    </div>
    <div class="ion-text-center ion-padding-top">
      <ion-button fill="clear" expand="block" color="dark" (click)="irRegistrar()">
        registrar
      </ion-button>
    </div>

  </div>


</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
  </ion-toolbar>
</ion-footer>