<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div class="ion-text-center ion-padding-top">
    <ion-card>
      <ion-card-header>
        <ion-card-title></ion-card-title>
        <ion-card-subtitle>Las asignaturas que tienes disponibles son las siguientes</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-accordion-group>
          <ion-accordion value="first">
            <ion-item slot="header" color="light">
              <ion-label>Mostrar Asignaturas</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-list>
                <!-- Utiliza *ngFor para recorrer la lista de asignaturas -->
                <ion-item *ngFor="let asignatura of asignaturas">
                  <ion-button fill="clear" expand="block" [color]="asignatura.color" (click)="qr(asignatura.codigo)">
                    {{ asignatura.nombre }}
                  </ion-button>
                  <ion-badge [color]="asignatura.color">{{ asignatura.codigo }}</ion-badge>
                </ion-item>
              </ion-list>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>

        <ion-card-subtitle>Aqui puedes ver tus ultimas clases asistidas y verificar si fuiste registrado ;D</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        
          <ion-list>
            <ion-item *ngFor="let asistencia of asistencias">
              <ion-label>{{ asistencia.asignatura }}</ion-label>
              <ion-badge slot="end" [color]="asistencia.estado === 'Presente' ? 'success' : 'danger'">
                {{ asistencia.estado }}
              </ion-badge>
              <ion-note slot="end" class="ion-padding-start">{{ asistencia.fecha | date: 'dd/MM/yyyy HH:mm' }}</ion-note>
            </ion-item>
          </ion-list>
        


      </ion-card-content>


    </ion-card>
  </div>
</ion-content>
