<ion-header>
  <ion-toolbar color="warning">

    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  <div class="recuperar">
    <div class="ion-text-center">
      <ion-img src="../assets/image/registrapplogo.png" alt="Logo de la aplicación"></ion-img>
    </div>

    <h1 class="bold">Recuperar Contraseña</h1>


    <ion-list lines="full" class="ion-no-margin">
      <ion-item class="label">
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input [(ngModel)]="nombreUsuario" clearInput input-mode="text" minlength="3" required></ion-input>
      </ion-item>
      <ion-item class="label">
        <ion-label position="stacked">Nueva Contraseña</ion-label>
        <ion-input [(ngModel)]="nuevaContra" clearInput input-mode="tel" minlength="3" type="password"
          required></ion-input>
      </ion-item>
      <ion-item class="label">
        <ion-label position="stacked">Repetir Contraseña</ion-label>
        <ion-input [(ngModel)]="repetirContra" clearInput input-mode="tel" minlength="3" type="password"
          required></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="full" shape="round" fill="solid" color="warning" (click)="recuperarContra()">
      Recuperar contraseña
    </ion-button>

  </div>



</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
  </ion-toolbar>
</ion-footer>