<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recuperar</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list lines="full" class="ion-no-margin">
    <ion-item>
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input clearInput input-mode="text" minlength="3" ></ion-input>
    </ion-item>

  </ion-list>
  <ion-button expand="full" shape="round" fill="solid" color="primary" >
    Recuperar
  </ion-button>


</ion-content>