<ion-header>
  <ion-toolbar color="warning">

    <ion-buttons slot="start">
      <ion-buttons (click)="salir()">
        <ion-icon slot="icon-only" name="exit-outline"></ion-icon>
      </ion-buttons>
    </ion-buttons>

    <ion-title>RegistrApp</ion-title>


    <ion-buttons slot="end">
      <ion-button (click)="irPerfil()">
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">



  <div class="ion-text-center ion-padding-top">
    <h2 class="ion-text-center">Bienvenido {{ nombre }}!</h2>

    <ion-button class="ion-text-center" id="boton" color="warning">Tomar asistencia</ion-button>

    <h1 class="ion-text-center">Asignaturas</h1>

    <ion-button fill="clear" expand="block" color="dark">Portafolio</ion-button>
    <ion-button fill="clear" expand="block" color="dark">Inglés</ion-button>
    <ion-button fill="clear" expand="block" color="dark">Religión</ion-button>
    <ion-button fill="clear" expand="block" color="dark">Programación</ion-button>
  </div>










</ion-content>