@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,700&display=swap');

* {
    font-family: 'Lato', sans-serif;  
}

#salirbtn{
  font-size: 2rem;
  padding-left: 15px;
}

#iconoPerfil{
  font-size: 2rem;
  padding-right: 15px;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 70%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
