<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>

    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">RegitrApp</ion-title>
    </ion-toolbar>


  </ion-header>
  <h2 class="ion-text-center">Bienvenido {{ nombre }}!</h2>

  <div>


    <br><br>

    <ion-button class="boton" color="warning">Tomar asistencia</ion-button>
    <h1>Asignaturas</h1>
    <div class="ion-text-center ion-padding-top">
      <ion-button fill="clear" expand="block" color="dark">Portafolio</ion-button>
      <ion-button fill="clear" expand="block" color="dark">Inglés</ion-button>
      <ion-button fill="clear" expand="block" color="dark">Religión</ion-button>
      <ion-button fill="clear" expand="block" color="dark">Programación</ion-button>
    </div>

  </div>








</ion-content>